.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.paperEffect {
    width: min(100%-15px, 840px); 
    margin-inline: auto; 
    
}

.centerForm{
    justify-content: center; 
    align-items: center; 
}


.nightMode{
    color: white; 
    background-color: antiquewhite; 
}


.centerDisplayForm{
    display: flex; 
    flex-direction: row; 
    justify-content: center; 
    align-items: baseline; 
}


.registerInLine {
    display: flex;
    justify-content: flex-start; 
    flex-direction: row;
    width: min(100%-15px, 840px);
    margin-inline: auto;
}

.MuiInputLabel-root {
  font-size: 11px !important;
  padding-bottom: 20px !important;
}

.MuiInput-root {
  height: 45px !important;
}
